.mainContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: 162px;
  max-width: 300px;
  background: rgba(92, 92, 92, 1);
  display: flex;
  align-items: flex-end;
  padding: 30px;

}

.nameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameError {
  font-family: 'Comfortaa';
  font-style: normal;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 26px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #EDE6E2;
}

.textError {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  text-align: right;
  color: #CEC3BD;
}

.bodyError {
  min-width: 229px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  text-align: right;
  color: #CEC3BD;
}

.timeLine {
  margin-top: 10px;
  width: 100%;
  height: 2px;
  background-color: #CEC3BD;
  transition: width .5s;
}