.tasksBox {
  width: auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  padding: 15px 0px 15px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 1025px;
  height: 60px;
  background: #A58878;
  box-shadow: inset 0px 2px 7px 2px rgba(0, 0, 0, 0.19);
}

.containerInput {
  margin-top: 115px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.inputBox__input {
  width: 900px;
  resize: none;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  outline: 0;
  border: none;
  background-color: rgba(86, 96, 94, 0);
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 42px;
  color: #EDE6E2;
}

.inputBtn {
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../icon/plus.svg');
}

.inputBtn:hover {
  background-color: #CEC3BD
}

.inputBox__input::placeholder {
  color: rgba(206, 195, 189, 1)
}

.inputBox__input::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.task {
  width: 472px;
  height: 65px;
  min-height: 46px;
  margin-bottom: 4px;
  padding: 8.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(206, 195, 189, 0);

}

.task:hover {
  border: 1px solid #5C5C5C;
}

.task:hover::after {
  border: 1px solid rgba(206, 195, 189, 1)
}

.task__checked {
  width: 472px;
  height: 65px;
  min-height: 46px;
  margin-bottom: 4px;
  padding: 8.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(206, 195, 189, 0);

}

.task__checked:hover {
  border: 1px solid rgba(206, 195, 189, 1);
}

.task__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.task__inputs {
  display: flex;
  justify-content: space-between;
}

.task__btnDelete {
  margin-right: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../icon/delete.svg');
  border: none;
  border-radius: 0;
}

.task__btnDelete:hover {
  border: 1px solid rgba(206, 195, 189, 1);
}

.task__right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.task__check>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.task__check>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.task__check>span::before {
  content: '';
  display: inline-block;
  width: 43.66px;
  height: 43.56px;
  border: 1px solid #5C5C5C;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.task__check>input:checked+span::before {
  border: 1px solid rgba(206, 195, 189, 1);
  background-image: url('../../icon/check.svg');
}

.task__containerText {
  display: flex;
  flex-direction: column;
}

.task__text {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #5C5C5C;
}

.task__text__checked {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: right;
  color: rgba(206, 195, 189, 1);
}

.task__date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(206, 195, 189, 1);
}

.editTask {
  border: none;
  outline: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  height: 46px;
  background: rgba(153, 154, 158, 0.479);
}

@media screen and (max-width: 650px) {
  .tasksBox {
    max-width: 350px;
    min-width: 300px;
  }

  .inputBox {
    max-width: 300px;
    height: 100px;
    align-items: flex-start;
    padding: 5px;
  }

  .inputBox__input {
    font-size: 15px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .task {
    max-width: 327px;
    min-width: 300px;
  }

  .task__right {
    flex-direction: column-reverse;
    align-items: normal;
  }

  .task__text {
    max-width: 210px;
    min-width: 150px;
    font-size: 15px;
  }

  .task__inputs {
    width: 325px;
  }
}