main {
  display: flex;
align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

h1 {

margin: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 203px;
line-height: 238px;
text-align: center;
color: rgba(206, 195, 189, 0.23);
}

.logo {
position: absolute;
top:0;
margin: 0;
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 203px;
line-height: 238px;
text-align: center;
user-select: none;
z-index: -99;
color: rgba(206, 195, 189, 0.23);
}