body {
  background: rgba(237, 230, 226, 1);
  display: flex;
  justify-content: center;
}

span {

  color: rgba(48, 119, 105, 0);
}

input {
  outline: none;
  border: 0;
}

button {
  padding: 3px 10px;
  margin: 3px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: rgba(165, 136, 120, 1);
  background: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0;
}

button:hover {
  color: rgba(92, 92, 92, 1);
}

button[aria-pressed="true"] {
  color: rgba(92, 92, 92, 1);

  border-bottom: 2px rgba(92, 92, 92, 1) solid;
}


@media screen and (max-width: 650px) {
  button {
    font-size: 15px;
    max-width: 70px;
    line-height: normal;
  }

  span {
    font-size: 15px;
  }
}